@model List<MVC.DAL.Peliculas>
@{
    ViewBag.Title = "peliculas";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<div>
    <div class="text-center"><h3>Mis peliculas</h3></div>
    <table class="table ">
        <thead>
            <tr class="success">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Calificación</th>
                <th>Género</th>
                <th>Imagen</th>
                <th>Duración</th>
                <th>Fecha de carga</th>
                <th>
                    <a href="/Administracion/agregarPelicula">
                        <input type="button" class="btn bn-block btn-success col-md-12" value="Nueva" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in @Model)
            {
                <tr class="warning">
                    <td class="col-md-2"> @p.Nombre </td>
                    <td class="col-md-2"> @p.Descripcion </td>
                    <td class="col-md-2"> @p.Calificaciones.Nombre </td>
                    <td class="col-md-2"> @p.Generos.Nombre </td>
                    <td class="col-md-2">
                        <img src="@p.Imagen" alt="imagen de la película" width="75" height="75" />
                    </td>
                    <td class="col-md-2"> @p.Duracion horas </td>
                    <td class="col-md-2"> @p.FechaCarga </td> 
                    <td class="col-md-2">
                        @Html.ActionLink("Modificar", "modificarPelicula", new { id = @p.IdPelicula })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <h3>
            @ViewBag.NoHayPeliculas
            </h3>
        </div>
        <div class="text-center">
            <h3>
                @TempData["PeliculaAgregada"]
            </h3>
        </div>
        <div class="text-center">
            <h3>
                @TempData["PeliculaModificada"]
            </h3>
        </div>
    </div>