@model List<MVC.DAL.Sedes>

@{
    ViewBag.Title = "sedes";
    Layout = "~/Views/Shared/_AdministradorBase.cshtml";
}

<div>
    <div class="text-center">
        <h3>
            Lista de sedes
        </h3>
    </div>
    <table class="table">
        <thead>
            <tr class="success">
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Precio de entrada general</th>
                <th>
                    <a href="/Administracion/agregarSede">
                        <input type="button" class="btn bn-block btn-success col-md-12" value="Nueva" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in @Model)
            {
                <tr class="warning">
                    <td>@s.Nombre</td>
                    <td>@s.Direccion</td>
                    <td>$@s.PrecioGeneral</td>
                    <td>
                        @Html.ActionLink("Modificar", "modificarSede", new { id = @s.IdSede })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <h3>
            @ViewBag.NoHaySedes
        </h3>
    </div>
    <div class="text-center">
        <h3>
            @TempData["SedeAgregada"]
        </h3>
    </div> 
    <div class="text-center">
        <h3>
            @TempData["SedeModificada"]
        </h3>
    </div>
</div>

